{% extends 'main.html' %}
{% load static %}


{% block title %}
Service
{% endblock %}


{% block content %}


        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
                <a href="" class="navbar-brand p-0">
                    <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i>Restoran</h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0 pe-4">
                        <a href="{% url 'home_page'%}" class="nav-item nav-link ">Home</a>
                        <a href="{% url 'about'%}" class="nav-item nav-link ">About</a>
                        <a href="{% url 'service'%}" class="nav-item nav-link active">Clients</a>
                        <a href="{% url 'menu'%}" class="nav-item nav-link">Menu</a>
                        <a href="{% url 'booking'%}" class="nav-item nav-link">Booking</a>
                        <a href="{%url 'contact'%}" class="nav-item nav-link">Contact</a>
                    </div>
                    <a href="" class="btn btn-primary py-2 px-4">Book A Table</a>
                </div>
            </nav>
        
            <div class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container text-center my-5 pt-5 pb-4">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Clients</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Clients</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->

        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Testimonial</h5>
            <h1 class="mb-5">Our Clients Say!!!</h1>
        </div>
        
        <div class="owl-carousel testimonial-carousel">
            {%for clients in client%}
            <div class="testimonial-item bg-transparent border rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>{{clients.description}}</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="/media/{{clients.img}}" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">{{clients.title}}</h5>
                        <small>{{clients.stoke}}</small>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>

        <div class="container">
            <center>
                <div class="card card-body mt-5 w-50 shadow">
                    <div class="card-title d-flex  justify-content-center">
                        <h4>Write your own opinion <br> about our restorant </h4>
                    </div>
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label>Fullname</label>
                        <input required name="title" class="form-control mb-3" type="text" placeholder="Fullname">
        
                        
                         <label>Your Job</label>
                         <input required name="stoke" class="form-control mb-3" type="text" placeholder="Your Job">

                        <label>Your opinion</label>
                        <textarea required class="form-control mb-3" name="description" rows="5" placeholder="Your opinion"></textarea>
                        
                        <div>
                            <input type="file" name="img" class="form-control form-control-lg" id="floatingInput">
                        </div>
                        <br>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-success w-25">Save</button>
                        </div>
                    </form>
                </div>
            </center>
        </div>
        
   <!-- Testimonial Start -->
   
        
{%endblock%}